.carousel-caption {
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .carousel-caption h4,
  .carousel-caption p {
    color: white;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  .carousalinner{
    border-radius: 20px;

  }
.carousel-item{
  border-radius: 20px;

}